@page
@model NexCountStoreFront.Pages.ExplorerAppModel2
@{
    ViewData["Title"] = "Explore page";
}

<!-- Hero Start -->
<section class="bg-half-100 bg-primary d-table w-100" style="background-image: url('images/job/bg.png');">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h2 class="title text-white title-dark mb-0"> Business Apps </h2>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Shape Start -->
<div class="position-relative h-100">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->




<style>
    @@media screen and (max-width: 991px) {
        .ExpAppSidebar {
            display: none !important;
        }
    }

    @@media screen and (max-width: 991px) {
        .mdsearchbar {
            display: flex !important;
        }
    }
</style>

<!--Cards with Sidebar Section Start-->
<section>
    <div class="container-fluid mx-2 my-2 ">
        <div class="row">

            <!-- Sidebar for larger screens -->
            <div class="col-lg-2 d-none d-md-block ExpAppSidebar mt-5">
                <ul class="list-unstyled text-center sticky-bar social-icon social mb-0">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                        <button class="btn btn-outline-primary" type="button" id="basic-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M10.832 9.13a5.5 5.5 0 1 0-1.7 1.7l3.34 3.34a1 1 0 1 0 1.42-1.42l-3.34-3.34zm-4.332 0a3.5 3.5 0 1 1 4.95-4.95 3.5 3.5 0 0 1-4.95 4.95z" />
                            </svg>
                        </button>
                    </div>
                    <ul class="nav nav-pills nav-justified flex-column rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link rounded" id="webdeveloping" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false" tabindex="-1">
                                <div class="text-center py-1">
                                    <h6 class="mb-0">Home</h6>
                                </div>
                            </a><!--end nav link-->
                        </li><!--end nav item-->

                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link rounded" id="database" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false" tabindex="-1">
                                <div class="text-center py-1">
                                    <h6 class="mb-0">About Us</h6>
                                </div>
                            </a><!--end nav link-->
                        </li><!--end nav item-->

                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link rounded " id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="true">
                                <div class="text-center py-1">
                                    <h6 class="mb-0">Service</h6>
                                </div>
                            </a><!--end nav link-->
                        </li><!--end nav item-->

                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link rounded " id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="true">
                                <div class="text-center py-1">
                                    <h6 class="mb-0">Contact</h6>
                                </div>
                            </a><!--end nav link-->
                        </li><!--end nav item-->

                        <li class="nav-item mt-2" role="presentation">
                            <a class="nav-link rounded " id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="true">
                                <div class="text-center py-1">
                                    <h6 class="mb-0">Demo</h6>
                                </div>
                            </a><!--end nav link-->
                        </li><!--end nav item-->
                    </ul>
                    
                </ul><!--end icon-->
            </div>

            <!-- Main content -->

            <div class="col-lg-10">

                <div class="container">
                    <!--This is the sidebar for the small and medium screen-->
                    <div class="input-group mt-3 mdsearchbar d-none">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                        <button class="btn btn-outline-primary" type="button" id="basic-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M10.832 9.13a5.5 5.5 0 1 0-1.7 1.7l3.34 3.34a1 1 0 1 0 1.42-1.42l-3.34-3.34zm-4.332 0a3.5 3.5 0 1 1 4.95-4.95 3.5 3.5 0 0 1-4.95 4.95z" />
                            </svg>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-5">
                            <h1>Human Resource</h1>
                            <p class="mb-2 border-bottom"></p>
                        </div><!--end col-->
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                            <div class="card blog blog-primary rounded card-border-1 shadow">
                                <div class="position-relative">
                                    <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content text-center">
                                    <h4 class="text-center">People Management</h4>
                                    <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                    <div class="post-meta d-flex justify-content-center mt-2">
                                        <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div><!--End Col-->

                        <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                            <div class="card blog blog-primary rounded card-border-1 shadow">
                                <div class="position-relative">
                                    <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content text-center">
                                    <h4 class="text-center">People Management</h4>
                                    <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                    <div class="post-meta d-flex justify-content-center mt-2">
                                        <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div><!--End Col-->

                        <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                            <div class="card blog blog-primary rounded card-border-1 shadow">
                                <div class="position-relative">
                                    <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content text-center">
                                    <h4 class="text-center">People Management</h4>
                                    <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                    <div class="post-meta d-flex justify-content-center mt-2">
                                        <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div><!--End Col-->

                        <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                            <div class="card blog blog-primary rounded card-border-1 shadow">
                                <div class="position-relative">
                                    <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content text-center">
                                    <h4 class="text-center">People Management</h4>
                                    <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                    <div class="post-meta d-flex justify-content-center mt-2">
                                        <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div><!--End Col-->

                        <div class="row">
                            <div class="col-12 mt-5">
                                <h1>Finance</h1>
                                <p class="mb-2 border-bottom"></p>
                            </div><!--end col-->
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                                <div class="card blog blog-primary rounded card-border-1 shadow">
                                    <div class="position-relative">
                                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                        <div class="overlay rounded-top"></div>
                                    </div>
                                    <div class="card-body content text-center">
                                        <h4 class="text-center">People Management</h4>
                                        <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                        <div class="post-meta d-flex justify-content-center mt-2">
                                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div><!--End Col-->

                            <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                                <div class="card blog blog-primary rounded card-border-1 shadow">
                                    <div class="position-relative">
                                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                        <div class="overlay rounded-top"></div>
                                    </div>
                                    <div class="card-body content text-center">
                                        <h4 class="text-center">People Management</h4>
                                        <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                        <div class="post-meta d-flex justify-content-center mt-2">
                                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div><!--End Col-->

                            <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                                <div class="card blog blog-primary rounded card-border-1 shadow">
                                    <div class="position-relative">
                                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                        <div class="overlay rounded-top"></div>
                                    </div>
                                    <div class="card-body content text-center">
                                        <h4 class="text-center">People Management</h4>
                                        <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                        <div class="post-meta d-flex justify-content-center mt-2">
                                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div><!--End Col-->

                            <div class="col-lg-4 col-md-6 col-sm-6  col-12 mt-4 pt-2">
                                <div class="card blog blog-primary rounded card-border-1 shadow">
                                    <div class="position-relative">
                                        <img src="images/gym/Invoicing.jpg" class="card-img-top rounded-top" alt="...">

                                        <div class="overlay rounded-top"></div>
                                    </div>
                                    <div class="card-body content text-center">
                                        <h4 class="text-center">People Management</h4>
                                        <p class="text-muted mb-0">Enhance HR processes with our People Management app for seamless employee engagement</p>
                                        <div class="post-meta d-flex justify-content-center mt-2">
                                            <a href="appdetail/appone" class="text-muted readmore">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div><!--End Col-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

</section><!--Cards with Sidebar Section End-->